<%- partial('_partial/head') %>
<body>
  <div class="deco-columns">
    <div class="deco-columns--column --left"></div>
    <div class="deco-columns--column --right"></div>
    <div class="deco-columns--head --left"></div>
    <div class="deco-columns--head --right"></div>
  </div>
  <div class="deco-ceiling"></div>
  <div class="container">
    <header>
      <img class="logo" src="<%- url_for('images/logo.png') %>" />
    </header>
    <%- partial('_partial/nav') %>
    <main class="content">
      <%- body %>
    </main>
  </div>
  <footer>
    <%- partial('_partial/footer') %>
  </footer>
</body>
</html>
